<form [formGroup]="form">
  <h1>Enter with your account</h1>
  <div>
    <label>Email</label>
    <input type="email" placeholder="Ex: pat@example.com" formControlName="email">
    <span *ngIf="form.get('email')!.hasError('required')">
        Email is required
      </span>
    <span *ngIf="form.get('email')!.hasError('email')">
        Email is invalid
      </span>
  </div>
  <div>
    <label>Password</label>
    <input type="password" placeholder="Password" formControlName="password">
    <span *ngIf="form.get('password')!.hasError('required')">
        Password is required
      </span>
  </div>
  <button  color="primary" [disabled]="!form.valid" (click)="login()"
           *ngIf="!isLoggingIn" test-id="login-button">
    LOGIN
  </button>
  <button  color="primary" (click)="logout()"
           *ngIf="!isLoggingIn" test-id="logout-button">
    LOGOUT
  </button>
  <button color="primary" (click)="register()"
          *ngIf="!isLoggingIn" test-id="register-button">REGISTER</button>
</form>
