<div class="mb-3">
  <h4>Add Task</h4>
  <label for="description" class="form-label">Description: </label>
  <input
    id="description"
    type="text"
    class="form-control"
    formControlName="senderName"
  >
</div>
<div class="mb-3">
  <label for="goal" class="form-label">Goal: </label>
  <input
    id="goal"
    type="text"
    class="form-control"
    formControlName="senderName"
  >
</div>
<div class="mb-3">
  <label for="progress" class="form-label">Progress: </label>
  <input
    id="progress"
    type="text"
    class="form-control"
    value="0"
    formControlName="senderName"
  >
</div>
