.quest-list-element {

  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.quest-info {
  flex: 1;
}

.btn-link,
.btn-edit,
.btn-details {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.btn-link:hover,
.btn-edit:hover,
.btn-details:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.quest-actions,
.form-check-label {
  flex: 1;
  display: flex;
}
.quest-actions a,
.form-check-label p {
  margin: 10px;
}

li {
  list-style-type: none;
}
