<li class="quest-list-element">
  <div class="form-check">
    <label class="form-check-label">
      <p>ID: {{ quest.id }}</p>
      <p>Title: {{ quest.title }}</p>
      <p>Trader: {{ quest.trader }}</p>
      <p>Map: {{ quest.map }}</p>
      <p>Link:<a href="{{ quest.link }}" target="_blank">{{ quest.link }} </a>
    </label>
  </div>
  <div>
    <a [routerLink]="['..', 'quest', 'edit', quest.id]">Edit</a>
    <br>
    <a [routerLink]="['..', 'quest', quest.id]">{{quest.title}} - Details</a>
  </div>
</li>
