.login-form{
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid #007bff; /* Randfarbe */
  border-radius: 5px; /* Abrundung der Ecken */
  background-color: #007bff; /* Hintergrundfarbe */
  color: #fff; /* Textfarbe */
  text-decoration: none; /* Unterstreichung entfernen */
}

.error-message {
  color: red;
}
