main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  margin: 5px 0;
}

.aligned-to-right {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
}


.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.recover-password {
  padding-left: 62px;
  padding-right: 62px;
}
