.questListTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.quest-list {
  list-style-type: none;
  padding: 0;
}

.quest-list-item {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quest-list-item:hover {
  background-color: #e0e0e0;
}
